@import "tailwindcss";

html, body, #__next {
  height: 100%;
}

body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  /* background: linear-gradient(180deg, white 0%, #fcfbff 100%); */
  /* color: #0f172a; */
}

.card {
  @apply bg-white/80 backdrop-blur-sm rounded-2xl shadow-md;
}
